

<%= render partial: 'shared/form', locals: { inventory: @inventory } %>


<div>
  <%= link_to inventories_path, class: "btn btn-outline-primary" do %>
    &larr; Back to inventories
  <% end %>
</div>


