<h1 class="my-2">Public Recipes</h1>

<% @recipes.each do |recipe| %>
  <div class="public-recipe-box card my-2">
    <div class="row p-3">
      <div class="col-3 h3 text-center">
        <%= link_to recipe.name , recipe_path(recipe), class: 'text-decoration-none d-block pt-3 text-start ' %>
      </div>
      <div  class="col-9">
        <p>Total food items: 5</p>
        <p>Total price: $250</p>
      </div>
    </div>
    <div class="h4 mx-5">
      <p class="my-0">By: <%= recipe.user.name %></p>
    </div>
  </div>
<% end %>
