<div class="row" id="<%= dom_id inventory %>">
  <div class="col-3 h3 text-center">
    <%= link_to inventory, class: "text-decoration-none d-block pt-3 text-start" do %>
      <%= inventory.name %>
    <% end %>
  </div>
  <div class="col-9 mb-2">
    <p><strong>Description:</strong> <%= inventory.description %> </p>
  </div>  
</div>
